<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trapezaki - Make a Reservation</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">

    <link rel="stylesheet" href="../assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="shortcut icon" href="../assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-center">
                        <div class="logo">
                            <a href="index.html"><img src="../assets/images/logo/logo.png" alt="Trapezaki"
                                    srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item">
                            <a href="user3-profile.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="user3-reservations.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>My Reservations</span>
                            </a>
                        </li>
                        <li class="sidebar-item active">
                            <a href="user3-search.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Make a Reservation</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>

        <div id="main" class='layout-navbar'>
            <header class='mb-3'>
                <nav class="navbar navbar-expand">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block">
                            <i class="bi bi-justify fs-3"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
                                <div class="user-menu align-items-center">
                                    <div class="user-name text-center me-3">
                                        <h6 class="mb-0 text-gray-600 text-nowrap">
                                        </h6>
                                    </div>
                                </div>
                            </ul>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-blue">@myusername</h6>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <h6 class="dropdown-header">Hello, &lt;Name&gt;!</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="/www/user3-profile.html"><i
                                                class="icon-mid bi bi-person me-2"></i> My
                                            Profile</a></li>
                                    <li><a class="dropdown-item" href="/www/user3-reservations.html"><i
                                                class="icon-mid bi bi-wallet me-2"></i>
                                            My Reservations</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#"><i
                                                class="icon-mid bi bi-box-arrow-left me-2"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <div id="main-content">

                <div class="page-heading">

                    <div class="container">
                        <div class="row">
                            <div class="page-title">
                                <div class="row">
                                    <div class="col-md-16 mb-1 justify-content-center">
                                        <h3 class="text-center">Make a Reservation</h3>
                                    </div>
                                    <div class="col-12 col-md-6 order-md-2 order-first">
                                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                            <ol class="breadcrumb">
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                            <section class="section">
                                <div class="card">
                                    <div class="card-header bg-primary">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="bi bi-search"></i></span>
                                            <input type="text" class="form-control"
                                                placeholder="Find restaurants, bar, cafe..."
                                                aria-describedby="button-addon2">

                                        </div>
                                        <div class="bg-primary">
                                            <div class="row">

                                                <div class="col-md-4 row-col-4 mb-3">
                                                    <h6 class="text-white">Date</h6>
                                                    <input type="date" id="mydate" class="form-control"
                                                        value="2017-06-01">
                                                </div>

                                                <div class="col-md-4 mb-2">
                                                    <h6 class="text-white">Number of people </h6>
                                                    <fieldset class="form-group">
                                                        <select class="form-select" id="basicSelect">
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                        </select>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-4 mb-2">
                                                    <h6 class="text-white">Category </h6>
                                                    <fieldset class="form-group">
                                                        <select class="form-select" id="basicSelect">
                                                            <option>Food </option>
                                                            <option> Drink </option>
                                                            <option> Coffee </option>
                                                        </select>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>

                    <!-- Magazia Random Start Here -->
                    <section id="content-types">
                        <div class="row">
                            <div class="col-xl-4 col-md-6 col-sm-12">

                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <h4 class="card-title">Banana Club</h4>
                                            <p class="card-text">
                                                The random place you want to go. Just do it, en tha xaseis. This is the
                                                description of the
                                                bar
                                                it should be long enough.
                                            </p>
                                        </div>
                                        <img class="img-fluid w-100" src="../assets/images/samples/banana.jpg"
                                            alt="Card image cap">
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Bananes</li>
                                        <li class="list-group-item">Fahitas</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-content">
                                        <img src="../assets/images/samples/motorcycle.jpg"
                                            class="card-img-top img-fluid" alt="singleminded">
                                        <div class="card-body">
                                            <h5 class="card-title">Kristia Bar</h5>
                                            <p class="card-text">
                                                Eshi mia me motora opos tis kristias, ara logika en I kristia right?
                                                Click here to find out
                                                the latest prices for the Kristia Bar j mpe sto diagonismo gia na
                                                kerdiseis motora.
                                            </p>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Souvlakia</li>
                                        <li class="list-group-item">Gyros</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <h4 class="card-title">Carousel Club</h4>
                                        </div>
                                        <div id="carouselExampleSlidesOnly" class="carousel slide"
                                            data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="../assets/images/samples/architecture1.jpg"
                                                        class="d-block w-100" alt="Image Architecture">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="../assets/images/samples/bg-mountain.jpg"
                                                        class="d-block w-100" alt="Image Mountain">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="../assets/images/samples/jump.jpg" class="d-block w-100"
                                                        alt="Image Jump">
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls"
                                                role="button" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls"
                                                role="button" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt assumenda
                                                mollitia
                                                officia dolorum eius quasi.Chocolate sesame snaps apple pie danish
                                                cupcake
                                                sweet roll
                                                jujubes tiramisu.
                                            </p>
                                            <p class="card-text">
                                                Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet
                                                roll. Toffee
                                                sugar
                                                plum sugar
                                                plum jelly-o jujubes bonbon dessert carrot cake.
                                                Sweet pie candy jelly. Sesame snaps biscuit sugar plum. Sweet roll
                                                topping
                                                fruitcake.
                                                Caramels liquorice
                                                biscuit ice cream fruitcake cotton candy tart.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="../assets/images/samples/origami.jpg"
                                            alt="Card image cap" style="height: 20rem" />
                                        <div class="card-body">
                                            <h4 class="card-title">Varkoua Cafe</h4>
                                            <p class="card-text">
                                                Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon
                                                donut
                                                pastry gummies tiramisu chocolate bar muffin. Dessert bonbon caramels
                                                brownie chocolate
                                                bar
                                                chocolate tart dragée.
                                            </p>
                                            <p class="card-text">
                                                Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar
                                                muffin.
                                            </p>
                                            <button class="btn btn-primary block">Reserve now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <h4 class="card-title">Pinnw Nero Mesta Fkiora Cafe</h4>
                                            <p class="card-text">
                                                Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon
                                                donut
                                                pastry gummies tiramisu chocolate bar muffin. Dessert bonbon caramels
                                                brownie chocolate
                                                bar
                                                chocolate tart dragée.
                                            </p>
                                            <p class="card-text">
                                                Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar
                                                muffin.
                                            </p>
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                        <img class="card-img-bottom img-fluid" src="../assets/images/samples/water.jpg"
                                            alt="Card image cap" style="height: 20rem; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Magazia random end here -->


                </div>


                <footer>
                </footer>

            </div>
        </div>
    </div>

</body>


<script src="../assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/vendors/rater-js/rater-js.js"></script>
<script src="../assets/js/extensions/rater-js.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="../assets/js/jquery-3.6.0.min.js"></script>
<script src="../assets/js/date-no-prev.js"></script>


</html>